- content_for(:title, 'Your Profile')

.container
	%legend 
		Profile for #{@user.name}
		.col-md-6
			%h4 Name:  #{@user.name}
			%h4 Email:  #{@user.email}
			= button_to 'Edit Profile', edit_user_path(@user), method: "get", :class => "btn btn-xs btn-success"
			= button_to 'Delete Profile', @user, method: "delete", :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure you want to delete?" }
			%br
			%br		
		.col-md-6
			%h3 My Comments:
			= link_to Comment.where(id: @user.id).pluck(:content).first, photo_path, method: "get"
	.row
		.col-md-12
			%h3 My Photos
			= link_to Photo.where(id: @user.id).pluck(:name).first, photo_path, method: "get"
			= button_to 'Add New Photo', new_photo_path, method: "get", :class => "btn btn-xs btn-success" 
			%br