- @photos.each do |photo|
	.container
		.col-md-12
			%h6.col.md-4
			= link_to "#{photo.name}", photo_path(photo), method: :get
			%h4 #{photo.description}
			%br
			= image_tag photo.user_image.url
			%br
			%br
			= button_to 'Edit Photo', edit_photo_path(photo), method: "get", :class => "btn btn-xs btn-warning"
			= button_to 'Delete Photo', photo, method: "delete", :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure you want to delete this photo?" }
			.col.md-8
			%br
			%br
			%br
= button_to 'Add Photo', new_photo_path, method: "get", :class => "btn btn-xs btn-warning"