= form_for @photo, url: photo_path do |f|
	= f.label :name
	= f.text_field :name
	%br
	= f.label :description
	= f.text_field :description
	%br
	Upload Image:
	= f.file_field :user_image
	%br
	= f.submit "Submit Changes"