- content_for(:title, 'Your Photo')
.container
	.row
		.col-md-12
		%h3= @photo.name
		%br
		Description:
		%h4= @photo.description
		%br
		= image_tag @photo.user_image.url, width: 550, height: 550
		%br
		= link_to "Edit Photo", edit_photo_path, :class => "btn btn-success"
		%br
		Tags:

		%br
	.row
		.col-md-12
		= form_for @new_tag do |nt|
			= nt.label "Photo Tags"
			= nt.text_field :name
			= nt.hidden_field :photo_id, value: @photo.id
			= nt.submit "Tag Photo"
			%br
			%br
		Image Tags For This Photo:
		- @photo.tags.uniq.each do |tagname|
			= tagname.name
	.row
		.col-md-12
		= form_for @new_comment, url: comments_path, method: :post do |f|
			= f.hidden_field :commentable_id, value: @photo.id
			= f.hidden_field :commentable_type, value: "Photo"
			= f.text_field :content
			= f.submit
		%br
		- @photo.comments.each do |c|
			%h4{ :style => "text-align:center" }= c.content
			%h4{ :style => "text-align:center" }= c.user_id

