- content_for(:title, 'Your Photo')

.container
	.row
		.col-md-12

		%h3= @photo.name
		%br
		%h4 Description:
		= @photo.description
		%br
		= @photo.tags.name
		%br
		= image_tag @photo.user_image.url, width: 550, height: 550
		%br
		= link_to "Edit Photo", edit_photo_path, :class => "btn btn-success"
		%br
		%br
.container
	.row
		.col-md-12
		= form_for @new_comment, url: comments_path, method: :post do |f|
			= f.hidden_field :commentable_id, value: @photo.id
			= f.hidden_field :commentable_type, value: "Photo"
			= f.text_field :content
			= f.submit
		%br
		- @photo.comments.each do |c|
			%h4{ :style => "text-align:center" }= c.content